@*@model PizzaProject2.Models.OrderViewModel*@
@model IEnumerable<PizzaProject2.Models.OrderViewModel>

@{
    ViewBag.Title = "ViewOrders";
}

<h2>Bestillinger</h2>

<table class="table">
    @foreach (var order in Model)
    {
        <tr>
            <th>
                Brugernavn
            </th>
            <th>
                Bestilt
            </th>
            <th>
                Bestillingstype
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @* REAL USERNAME MISSING, Could use ViewBag to fix? *@
                test
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.order.DateTimeCreated)
            </td>
            @* Bestillingstype does not work yet. Afhentning/Udbringning *@
            <td>
                Afhentning
            </td>
            <td>
                @Html.ActionLink("X", "EndOrder", "Order", new { id = order.order.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>

        <tr>
            <th style="background-color: grey">
                PizzaNr
            </th>
        </tr>

        @*This loop does not work for some reason! Trying to iterate over the list of OrderItemViewModel contained in OrderViewModel*@
        foreach (var item in order.orderItemViewModels)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ThePizza.Nr)*@
                    @item.ThePizza.Nr
                </td>
            </tr>
        }
    }
</table>